Repository junkor-1011/cdk-auth-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

'*.{ts,tsx}':
  - eslint --fix
  - prettier --write
'*.{js,jsx,mjs,cjs}':
  - prettier --write
'*.{json,md,yml,yaml}':
  - prettier --write

add comment
  packages/fastify-app/lambda.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

testing: add jest config
  packages/fastify-app/jest.config.js
Due: prettier --write

chore: add packages
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

add cognito
  .eslintrc.js
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
  packages/lambda/functions/cognito/preTokenGeneration.ts
  packages/lambda/package.json
  packages/lambda/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

env
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: handler with authorizer
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: routing test
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
  packages/lambda/functions/hello/get.ts
  packages/lambda/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update packages
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: dotenv-cli
  packages/fastify-app/.env.local.example
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

cdk
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

lambda(WIP)
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
  packages/fastify-app/.env.local.example
  packages/fastify-app/src/modules/auth/auth.controller.ts
  packages/fastify-app/src/modules/auth/auth.route.ts
  packages/fastify-app/src/modules/auth/auth.schema.ts
Due: eslint --fix, prettier --write

fix: typo
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

chore: update packages
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Policy
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: authenticate lambda & path (WIP)
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
  packages/fastify-app/src/app.ts
  packages/fastify-app/src/modules/auth/auth.controller.ts
  packages/fastify-app/src/modules/auth/auth.route.ts
Due: eslint --fix, prettier --write

feat: add 400(user not found)
  packages/fastify-app/src/modules/auth/auth.controller.ts
Due: eslint --fix, prettier --write

chore: scrips(WIP)
  packages/cdk-app/script-templates/.gitignore
  packages/cdk-app/script-templates/access_api_with_idtoken.sh
  packages/cdk-app/script-templates/confirm_user.sh
  packages/cdk-app/script-templates/create_user.sh
  packages/cdk-app/script-templates/get_idtoken.sh
  packages/cdk-app/script-templates/get_idtoken_decode.sh
  packages/cdk-app/script-templates/params_template
  packages/cdk-app/script-templates/set_ssm_params.sh
Due: none

gitignore
  packages/cdk-app/.gitignore
Due: none

feat: create user & modify status code(authenticate)
  packages/fastify-app/src/modules/auth/auth.controller.ts
Due: eslint --fix, prettier --write

chore: update packages
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: duplicate user
  packages/fastify-app/src/modules/auth/auth.controller.ts
Due: eslint --fix, prettier --write

feat: shrink policy
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: jwt decode sample
  packages/fastify-app/src/app.ts
  packages/fastify-app/src/modules/greet/greet.controller.ts
  packages/fastify-app/src/modules/greet/greet.route.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fastify-app esm
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/fastify-app/jest.config.cjs
  packages/fastify-app/lambda.ts
  packages/fastify-app/package.json
  packages/fastify-app/src/app.ts
  packages/fastify-app/src/modules/auth/auth.controller.ts
  packages/fastify-app/src/modules/auth/auth.route.ts
  packages/fastify-app/src/modules/greet/greet.route.ts
  packages/fastify-app/tsconfig.json
Due: eslint --fix, prettier --write

chore: esm & test top-level-await
  package.json
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/lambda/functions/hello/get.ts
  packages/lambda/lib/myIp.ts
  packages/lambda/package.json
  packages/lambda/tsconfig.json
  packages/lambda/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add @jest/globals
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

vitest
  packages/lambda/lib/calc.test.ts
  packages/lambda/lib/calc.ts
  packages/lambda/package.json
  packages/lambda/tsconfig.json
  packages/lambda/vitest.config.ts
Due: eslint --fix, prettier --write

chore: update packages
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: resolve test
  packages/lambda/lib/calc.test.ts
Due: eslint --fix, prettier --write

chore: update packages
  packages/cdk-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

top-level-await sample
  packages/lambda/test/unit/tla.test.ts
Due: eslint --fix, prettier --write

chore: update packages
  packages/cdk-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  packages/fastify-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

esm
  packages/lambda/functions/cognito/preTokenGeneration.ts
Due: eslint --fix, prettier --write
