Repository junkor-1011/cdk-auth-api-example: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

'*.{ts,tsx}':
  - eslint --fix
  - prettier --write
'*.{js,jsx,mjs,cjs}':
  - prettier --write
'*.{json,md,yml,yaml}':
  - prettier --write

feat: vpc & bastion
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: use graviton for bastion instance
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: additional ebs
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: root volume customize
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: rds
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

typo
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

security group(ingress5432) & secrets manager
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

refactor: db secrets parameter
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

chore: update packages
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add prisma
  packages/fastify-app/.gitignore
  packages/fastify-app/package.json
  packages/fastify-app/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --write

chore: add prisma
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add packages
  packages/fastify-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: postgresql
  .gitignore
  docker-compose.yaml
Due: prettier --write

env example
  packages/fastify-app/.env.local.default
Due: none

migration
  packages/fastify-app/prisma/migrations/.gitignore
  packages/fastify-app/prisma/migrations/migration_lock.toml
Due: none

migration sample
  packages/fastify-app/prisma/migrations_sample/20230206145827_init/migration.sql
Due: none

prisma
  packages/fastify-app/src/app.ts
  packages/fastify-app/src/lib/prisma-client.ts
  packages/fastify-app/src/modules/users/users.controller.ts
  packages/fastify-app/src/modules/users/users.route.ts
Due: eslint --fix, prettier --write

feat: seed & cleanup
  packages/fastify-app/package.json
  packages/fastify-app/prisma/cleanup.ts
  packages/fastify-app/prisma/seed.ts
Due: eslint --fix, prettier --write

connection limit
  packages/fastify-app/.env.local.default
Due: none

gen client
  packages/fastify-app/src/lib/prisma-client.ts
Due: eslint --fix, prettier --write

bundle with commandHook
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update lambda role
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

fix: get secrets-manager value
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/fastify-app/lambda.ts
  packages/fastify-app/package.json
  packages/fastify-app/src/lib/prisma-client.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: timeout 30sec
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: memorySize 256
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: vpc lambda & check lambda access RDS Aurora with Prisma todo: need to use PRIVATE_ISOLATED
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
  packages/fastify-app/src/lib/prisma-client.ts
Due: eslint --fix, prettier --write

feat: pretoken with prisma
  packages/lambda/functions/cognito/preTokenGeneration.ts
  packages/lambda/package.json
  packages/lambda/tsconfig.json
  packages/lambda/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: create user cognito & db rough example
  packages/fastify-app/src/modules/auth/auth.controller.ts
  packages/fastify-app/src/modules/auth/auth.schema.ts
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/package.json
  packages/fastify-app/package.json
  packages/lambda/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update packages
  packages/cdk-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: writer instance only
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

feat: response type(api gateway)
  packages/cdk-app/lib/cdk-app-stack.ts
  packages/cdk-app/test/__snapshots__/snapshot.test.ts.snap
Due: eslint --fix, prettier --write

chore: enable coverage in unit-test
  packages/lambda/package.json
  packages/lambda/vitest.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: vitest verbose
  packages/lambda/vitest.config.ts
Due: eslint --fix, prettier --write

chore: vitest setup
  packages/lambda/package.json
  packages/lambda/vitest.config.ts
  packages/lambda/vitest.global-setup.ts
  packages/lambda/vitest.setup.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: integration test sample
  packages/lambda/test/integration/dummy.test.ts
Due: eslint --fix, prettier --write

vitest-mock-extended test
  packages/lambda/functions/hello/get.test.ts
  packages/lambda/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
